---
- name: Create manifests directory on first master
  ansible.builtin.file:
    path: /var/lib/rancher/k3s/server/manifests/cilium
    state: directory
    owner: root
    group: root
    mode: "0644"
  when: ansible_hostname == hostvars[groups[group_name_master | default('master')][0]]['ansible_hostname']
  tags:
    - cilium
    - networking

- name: Create Cilium chart manifest on first master
  ansible.builtin.template:
    src: cilium-chart.yaml.j2
    dest: /var/lib/rancher/k3s/server/manifests/cilium/cilium-chart.yaml
    owner: root
    group: root
    mode: "0644"
  when: ansible_hostname == hostvars[groups[group_name_master | default('master')][0]]['ansible_hostname']
  tags:
    - cilium
    - networking

- name: Wait for Cilium resources
  ansible.builtin.command: >-
    {% if item.type == 'daemonset' %}
    {{ k3s_kubectl_binary | default('k3s kubectl') }} wait pods
    --namespace=kube-system
    --selector='k8s-app=cilium'
    --for=condition=Ready
    {% else %}
    {{ k3s_kubectl_binary | default('k3s kubectl') }} wait {{ item.type }}/{{ item.name }}
    --namespace=kube-system
    --for=condition=Available
    {% endif %}
    --timeout={{ cilium_check_timeout }}
  register: cr_result
  changed_when: false
  until: cr_result is succeeded
  retries: 30
  delay: 7
  with_items:
    - { name: cilium-operator, type: deployment }
    - { name: cilium, type: daemonset, selector: k8s-app=cilium }
    - { name: hubble-relay, type: deployment, check_hubble: true }
    - { name: hubble-ui, type: deployment, check_hubble: true }
  loop_control:
    label: "{{ item.type }}/{{ item.name }}"
  when: >-
    not item.check_hubble | default(false) or (item.check_hubble | default(false))
  tags:
    - cilium
    - networking

- name: Configure BGP
  ansible.builtin.template:
    src: cilium-bgp.yaml.j2
    dest: /var/lib/rancher/k3s/server/manifests/cilium/cilium-bgp.yaml
    owner: root
    group: root
    mode: '0644'
  tags:
    - cilium
    - networking

- name: Allow Acces to Cilium health endpoints
  ansible.builtin.copy:
    src: defaultpolicy/allow-cilium-healthpoints.yaml
    dest: /var/lib/rancher/k3s/server/manifests/cilium/allow-cilium-healthpoints.yaml
    owner: root
    group: root
    mode: "0644"
  tags:
    - cilium
    - networking
- name: Allow Acces to dns from all pods
  ansible.builtin.copy:
    src: defaultpolicy/allow-dns.yaml
    dest: /var/lib/rancher/k3s/server/manifests/cilium/allow-dns.yaml
    owner: root
    group: root
    mode: "0644"
  tags:
    - cilium
    - networking
