---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
  namespace: kube-system
spec:
  bootstrap: false
  repo: {{ cm_chart_repo }}
  chart: longhorn
  version: {{ cm_chart_version }}
  targetNamespace: cert-manager
  createNamespace: true
  valuesContent: |-
    {{ cm_chart_values }}