---
k3s_kubectl_binary: k3s kubectl
cilium_check_timeout: 360s
cilium_chart_version: 1.16.1
cilium_chart_repo: https://helm.cilium.io/
cilium_bgp_lb_cidr: 10.1.0.32/27
cilium_bgp_peer_address: 10.10.10.1
cilium_bgp_export_pods: false
cilium_bgp_my_asn: 64512
cilium_bgp_peer_asn: 64513
cilium_pol_auditonly: false
cilium_pol_enforcement_mode: default

cilium_chart_values:
  policyAuditMode: "{{ cilium_pol_auditonly }}"
  policyEnforcementMode: "{{ cilium_pol_enforcement_mode }}"
  hostFirewall:
    enabled: false
  devices: "{{ k3s_cni_iface }}"
  operator:
    replicas: 1
  ipam:
    operator:
      clusterPoolIPv4PodCIDRList: 10.52.0.0/16
  ipv4NativeRoutingCIDR: 10.52.0.0/16
  k8sServiceHost: 127.0.0.1
  k8sServicePort: 6444
  routingMode: native
  autoDirectNodeRoutes: true
  kubeProxyReplacement: true
  bgpControlPlane:
    enabled: true
  hubble:
    enabled: true
    relay:
      enabled: true
    ui:
      enabled: true
  bpf:
    masquerade: true
    loadBalancer:
      algorithm: maglev
      mode: hybrid
  l7Proxy: false
  ingressController:
    enabled: false
    default: true
    loadbalancerMode: deticated
