---
- name: Create manifests directory on first master
  ansible.builtin.file:
    path: /var/lib/rancher/k3s/server/manifests/cm
    state: directory
    owner: root
    group: root
    mode: "0644"
  when: ansible_hostname == hostvars[groups[group_name_master | default('master')][0]]['ansible_hostname']
  tags:
    - cm

- name: Create Cert Manager chart manifest on first master
  ansible.builtin.template:
    src: cm-chart.yaml.j2
    dest: /var/lib/rancher/k3s/server/manifests/cm/cm-chart.yaml
    owner: root
    group: root
    mode: "0644"
  when: ansible_hostname == hostvars[groups[group_name_master | default('master')][0]]['ansible_hostname']
  tags:
    - cm

- name: Wait for Cert Manager resources
  ansible.builtin.command: >
    {{ k3s_kubectl_binary | default('k3s kubectl') }} wait pods
    --namespace={{ cm_namespace }}
    --selector=app.kubernetes.io/name=cert-manager
    --for=condition=Ready
    --timeout={{ cm_check_timeout }}
  register: cr_result
  changed_when: false
  until: cr_result is succeeded
  retries: 30
  delay: 7
  tags:
    - cm
  when: ansible_hostname == hostvars[groups[group_name_master | default('master')][0]]['ansible_hostname']

- name: Generate Cloudflare secret
  ansible.builtin.command:
    cmd: >-
      {{ k3s_kubectl_binary | default('k3s kubectl') }} create secret generic {{ cm_cf_secretname }}
      --namespace {{ cm_namespace }}
      --from-literal=cloudflare-token=token
      --dry-run=client
      --output=yaml
  register: cf_secret
  tags:
    - cm
    - cloudflare
  when: ansible_hostname == hostvars[groups[group_name_master | default('master')][0]]['ansible_hostname']

- name: Copy Generated secret to manifests dir
  ansible.builtin.copy:
    content: "{{ cf_secret }}"
    dest: /var/lib/rancher/k3s/server/manifests/cm/cf_token_secret.yaml
    owner: root
    group: root
    mode: "0644"
  tags:
    - cm
    - cloudflare
  when: ansible_hostname == hostvars[groups[group_name_master | default('master')][0]]['ansible_hostname']

- name: Configure Letsencrypt cluster issuers
  ansible.builtin.template:
    src: cm-acme.yaml.j2
    dest: "/var/lib/rancher/k3s/server/manifests/cm/{{ item.name }}-issuer.yaml"
    owner: root
    group: root
    mode: "0644"
  tags:
    - cm
    - cloudflare
    - issuers
  with_items:
    - "{{ cm_acme }}"
